
<div class="input-group">
    <span class="input-group-addon">Search</span>
    <input type="text" class="form-control" placeholder="Filter the feeds" ng-model="query" />
</div>

<div class="feedTitle">
    <h4>{{feedName | uppercase}}<span class="badge" ng-bind="feed.length"></span></h4>
</div>
<div ng-repeat="feedItem in feed | filter: query" class="repeated-item">
    <div class="list-column">
        <h5 ng-bind="feedItem.title"></h5>
        <h5 ng-bind="feedItem.date | date:'yyyy-MM-dd HH:mm:ss'"></h5>
        <input type="button" ng-click="navigateToSpecific(feedItem.link)" class="btn btn-default btn-sm specialButton" value="Continue reading" />
    </div>
</div>
