  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
  }
body {
    font-family: 'Sniglet', serif;
}
.thumbnail h5 {
    font-size: 1.5em;
}
.thumbnail {
    background-color: rgb(222,120,233);
}
.test {
    background-color: rgb(22,233,44);
}
.clearboth {
    clear: both;
}

.list-column {
    background-color:rgb(222, 120, 233);
    margin: 6px;
    float: left;
    width: 32%;
    /*min-height: 30%;*/
    height: 10em;
    /*max-height: 100%;*/
    padding: 1.5% .5%;
}
.list-column h5 {
    font-size: 1.1em;
}
.feedTitle {
    /*margin: auto;*/
    /*border-radius: 5px;*/
    color: rgb(222, 120, 233);
    /*font-weight: bolder;*/
    /*font-size: larger;*/
    background-color: rgb(75, 75, 75);
    text-align: center;
    /*vertical-align: middle;*/
}
.feedTitle h4 {
    cursor: pointer;
}




